/********************************
    Reset CSS
********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;

    outline: 0;
}

/********************************
    Border Box
********************************/
* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/********************************
    Clearfix
********************************/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";

    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

/********************************
    4 Column Grid
********************************/
.col-1 { width: 280px; }
.col-2 { width: 560px; }
.col-3 { width: 840px; }
.col-4 { width: 1120px; }

/*#ffffff бяло
#000000 черно*/

/*service classes*/
.wrapper {
    margin: 0 auto;
}

.float-left,
.float-right {
    position: relative;
    display: block;
    float: left;
}

.float-right {
    float: right;
}

/*header*/

.header {
   background: #87509c;
   padding: 58px 0 148px 0;
   text-align: center;
}

.holding-nav-logo {
    margin: 0 0 145px 0;
}

.logo {
    display: block;
    margin: 0 0 0 50px;
    width: 117px;
    height: 37px;
    background: url(../images/logo.png) no-repeat 0 0;
    /*font-size: 0;*/
    text-indent: -9999px;
}

.main-nav {
    font-size: 0;
}

.main-nav-link {
    display: inline-block;
    padding: 15px 10px;
    margin: 0 0 0 15px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
}

.main-nav-link.active,
.main-nav-link:hover {
    background: #643a79;
}

.heading-cta {
    display: block;
    margin: 0 0 50px 0;
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
}

.link-cta {
    display: inline-block;
    padding: 29px 82px 25px 82px;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    background: #eb7d4b;
    border-radius: 3px;
    border-bottom: 4px solid #c86a40;
}

.link-cta:hover {
    border-bottom-color: #eb7d4b;
}

/***************************************************
        Team Section styles
***************************************************/
.team-section {
    padding: 120px 0 127px 0;
    background: #e7f1f8;
    text-align: center;
}
.team-headding {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 24px;
}
.divider {
    margin-bottom: 24px;
}
.divider span {
    font-size: 0;
    line-height: 6px;
    padding: 3px 42px;
    background: #c8d9e5;
}

.subheadding {
    margin-bottom: 80px;
    font-size: 18px;
}
.big-circles {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 42px;
}
.team-members {
    padding: 0 40px;
}
.team-members h3 {
    font-size: 24px;
}
.blue-text {
    padding: 15px 0;
    color: #30bae7;
}
.member-info {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
}

.small-circles {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #bdd1df;
}
